.login-style{
    margin-top: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.login-btn{
    background-color: rgb(37, 17, 104);
    color: white;
    border: 1px solid white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.login-btn:hover{
    background-color: white;
    color:rgb(37, 17, 104);
    border: 1px solid rgb(37, 17, 104);
    cursor: pointer;
}
.login-style h3{
    color: rgb(37, 17, 104);
}

.link-style{
    color: rgb(37, 17, 104);
    border: 0 !important;
    
}
.link-style:hover{
    color: rgb(245, 11, 23);
    border: 0 !important;
}


@media screen and (max-width: 576px) {
    .login-style{
       width: 100%;
       margin-left: 0;
       margin-right: 0;
       margin-bottom: 30px;
    }
    .img-style{
        visibility: hidden;
    }
    
}